# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Misc
.DS_Store

# Dependency directories
node_modules/

# Local history
.history/

# Dist
/.vscode
/docs
/example
/src
.editorconfig
.eslintignore
.eslintrc.js
package-lock.json
tsconfig.json
